streamlit
mlflow
numpy
scikit-learn
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pandas
tensorflow
requests
PyJWT
alembic
keras
python-dotenv